<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>找不到啦</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">這個網頁在哪裡？欸我也不知道嘻嘻</p>
        </LayoutView>
    </NotFound>
</Router>
